.white-text , #basic-nav-dropdown, .headerFooter, .warningToast{
    color: white !important;
  }
  
.navBar, .headerFooter{
    background-color: darkred !important;
}

.headerFooter{
    
    padding: 10%;
    
}

.warningToast{
background-color: darkred !important;
color: white;
}
.eachReport{
  margin-bottom: 200px;
}
.left-side {
    border-right: 1px solid #ddd; /* Thin line for the divider */
  }

.textarea-modal-style {
  background-color: #FFF; 
  border: 1px solid lightgrey; 
  border-radius: 0.3rem; 
  min-height: 100px; 
}

.form-control {

min-height: 150px !important;
}

.modal-box{
  padding : 10px
}


.accordion-button, .accordion-button:not(.collapsed) {
  
  margin-bottom: 10px ;
  color: white !important;
  background-color: darkred !important;
  
}