.white-text , #basic-nav-dropdown, .header-footer{
    color: white !important;
  }
  
.navBar, .header-footer{
    background-color: darkred ;
}

.modal-footer{
    
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 2) !important;
}

.left-side {
    border-right: 1px solid #ddd; /* Thin line for the divider */
  }